{
  "openapi": "3.1.0",
  "info": {
    "title": "prontopaga-api",
    "version": "1.9"
  },
  "servers": [
    {
      "url": "https://sandbox.prontopaga.com/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/payment/methods/{currency}": {
      "get": {
        "summary": "Métodos de pago por moneda",
        "description": "",
        "operationId": "payment-methods-per-currency",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"name\": \"PIX\",\n    \"method\": \"pix_payment\",\n    \"currency\": \"BRL\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "PIX"
                      },
                      "method": {
                        "type": "string",
                        "example": "pix_payment"
                      },
                      "currency": {
                        "type": "string",
                        "example": "BRL"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/balance": {
      "get": {
        "summary": "Balance",
        "description": "",
        "operationId": "balance",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"neto\": {\n    \"CLP\": \"17.924.893,99\",\n    \"USD\": \"56,05\",\n    \"BRL\": \"90,30\",\n    \"PEN\": \"324,80\"\n  },\n  \"deferred\": {\n    \"CLP\": \"192,86\"\n  },\n  \"available\": {\n    \"CLP\": \"17.924.701,13\",\n    \"USD\": \"56,05\",\n    \"BRL\": \"90,30\",\n    \"PEN\": \"324,80\"\n  }\n}"
                  },
                  "Balance": {
                    "summary": "Balance",
                    "value": "{\n    \"neto\": {\n        \"BRL\": \"-103,50\",\n        \"PEN\": \"16,89\"\n    },\n    \"deferred\": [],\n    \"available\": {\n        \"BRL\": \"-103,50\",\n        \"PEN\": \"16,89\"\n    }"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "neto": {
                      "type": "object",
                      "properties": {
                        "CLP": {
                          "type": "string",
                          "example": "17.924.893,99"
                        },
                        "USD": {
                          "type": "string",
                          "example": "56,05"
                        },
                        "BRL": {
                          "type": "string",
                          "example": "90,30"
                        },
                        "PEN": {
                          "type": "string",
                          "example": "324,80"
                        }
                      }
                    },
                    "deferred": {
                      "type": "object",
                      "properties": {
                        "CLP": {
                          "type": "string",
                          "example": "192,86"
                        }
                      }
                    },
                    "available": {
                      "type": "object",
                      "properties": {
                        "CLP": {
                          "type": "string",
                          "example": "17.924.701,13"
                        },
                        "USD": {
                          "type": "string",
                          "example": "56,05"
                        },
                        "BRL": {
                          "type": "string",
                          "example": "90,30"
                        },
                        "PEN": {
                          "type": "string",
                          "example": "324,80"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "message": "No API token provided."
                    },
                    "summary": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/transactions/yesterday": {
      "get": {
        "summary": "Transacciones día anterior",
        "description": "",
        "operationId": "previous-day-transactions",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"date\": \"22/06/2023 16:29:12\",\n    \"id\": 1111,\n    \"currency\": \"CLP\",\n    \"amount\": \"1.000,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"success\"\n  },\n  {\n    \"date\": \"22/06/2023 16:38:44\",\n    \"id\": 2222,\n    \"currency\": \"CLP\",\n    \"amount\": \"1.000,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"canceled\"\n  },\n  {\n    \"date\": \"22/06/2023 23:35:33\",\n    \"id\": 3333,\n    \"currency\": \"CLP\",\n    \"amount\": \"11.426,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"new\"\n  },\n  {\n    \"date\": \"22/06/2023 23:37:54\",\n    \"id\": 4444,\n    \"currency\": \"CLP\",\n    \"amount\": \"19.676,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"new\"\n  },\n  {\n    \"date\": \"22/06/2023 23:59:34\",\n    \"id\": 5555,\n    \"currency\": \"CLP\",\n    \"amount\": \"16.204,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"new\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "22/06/2023 16:29:12"
                      },
                      "id": {
                        "type": "integer",
                        "example": 1111,
                        "default": 0
                      },
                      "currency": {
                        "type": "string",
                        "example": "CLP"
                      },
                      "amount": {
                        "type": "string",
                        "example": "1.000,00"
                      },
                      "type": {
                        "type": "string",
                        "example": "withdrawal"
                      },
                      "status": {
                        "type": "string",
                        "example": "success"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "message": "No API token provided."
                    },
                    "summary": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/transactions/custom-date/deprecated": {
      "post": {
        "summary": "Consultar transacciones por fecha",
        "description": "",
        "operationId": "transactions-by-date",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "startDate",
                  "endDate",
                  "typeTransaction"
                ],
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "Fecha inicial en formato `YYYY-MM-DD`"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Fecha final en formato `YYYY-MM-DD`"
                  },
                  "typeTransaction": {
                    "type": "string",
                    "description": "Tipo de transacciones. <br>Pueden ser: <b>withdrawal, payment</b>"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Número de página",
                    "format": "int32"
                  },
                  "perPage": {
                    "type": "integer",
                    "description": "Cantidad de registros por página. El valor máximo es `200`",
                    "format": "int32"
                  }
                }
              },
              "examples": {
                "Pay outs": {
                  "value": {
                    "startDate": "2024-08-01",
                    "endDate": "2024-08-13",
                    "typeTransaction": "withdrawal",
                    "page": 3,
                    "perPage": 10
                  }
                },
                "Pay ins": {
                  "value": {
                    "startDate": "2024-08-01",
                    "endDate": "2024-08-13",
                    "typeTransaction": "payment",
                    "page": 3,
                    "perPage": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Pay ins": {
                    "value": "{\n    \"data\": [\n        {\n            \"date\": \"17/02/2025 09:50:14\",\n            \"uid\": \"Transaction identifier\",\n            \"reference\": \"123456\",\n            \"order\": \"101\",\n            \"currency\": \"CLP\",\n            \"amount\": \"1.000,00\",\n            \"type\": \"payment\",\n            \"status\": \"expired\",\n            \"modified\": \"17/02/2025 10:05:14\",\n            \"released\": \"\",\n            \"statusSettle\": \"\"\n        },\n        {\n            \"date\": \"17/02/2025 09:58:16\",\n            \"uid\": \"Transaction identifier\",\n            \"reference\": \"123457\",\n            \"order\": \"102\",\n            \"currency\": \"CLP\",\n            \"amount\": \"14.000,00\",\n            \"type\": \"payment\",\n            \"status\": \"success\",\n            \"modified\": \"17/02/2025 10:56:11\",\n            \"released\": \"18/02/2025 09:58:16\",\n            \"commission\": \"1227.0000\",\n            \"iva\": \"0.0000\",\n            \"minimunFee\": \"500.0000\",\n            \"ivaMinimunFee\": \"0.0000\",\n            \"fixedFee\": \"76.0000\",\n            \"ivaFixedFee\": \"0.0000\",\n            \"statusSettle\": \"Pending\"\n        }\n    ],\n    \"totalPages\": 19,\n    \"page\": 2,\n    \"nextPage\": 3,\n    \"prevPage\": 2\n}"
                  },
                  "Pay outs ": {
                    "value": "  {\n    \"data\": [\n        {\n            \"date\": \"17/02/2025 16:54:56\",\n            \"uid\": \"Transaction identifier\",\n            \"reference\": \"12345678912345\",\n            \"order\": \"retiro023\",\n            \"dni\": \"1111111111\",\n            \"currency\": \"USD\",\n            \"amount\": \"1,00\",\n            \"type\": \"withdrawal\",\n            \"status\": \"new\",\n            \"created\": \"17/02/2025 16:54:56\",\n            \"modified\": \"17/02/2025 16:54:56\",\n            \"commission\": \"0.0100\",\n            \"iva\": \"0.0015\",\n            \"minimunFee\": \"0.8000\",\n            \"ivaMinimunFee\": \"0.1200\",\n            \"fixedFee\": \"1.0000\",\n            \"ivaFixedFee\": \"0.1500\"\n        }\n    ],\n    \"totalPages\": 1,\n    \"page\": 1,\n    \"nextPage\": 1,\n    \"prevPage\": 0\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Pay ins",
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "example": "17/02/2025 09:50:14"
                              },
                              "uid": {
                                "type": "string",
                                "example": "Transaction identifier"
                              },
                              "reference": {
                                "type": "string",
                                "example": "123456"
                              },
                              "order": {
                                "type": "string",
                                "example": "101"
                              },
                              "currency": {
                                "type": "string",
                                "example": "CLP"
                              },
                              "amount": {
                                "type": "string",
                                "example": "1.000,00"
                              },
                              "type": {
                                "type": "string",
                                "example": "payment"
                              },
                              "status": {
                                "type": "string",
                                "example": "expired"
                              },
                              "modified": {
                                "type": "string",
                                "example": "17/02/2025 10:05:14"
                              },
                              "released": {
                                "type": "string",
                                "example": ""
                              },
                              "statusSettle": {
                                "type": "string",
                                "example": ""
                              }
                            }
                          }
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 19,
                          "default": 0
                        },
                        "page": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "nextPage": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        },
                        "prevPage": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        }
                      }
                    },
                    {
                      "title": "Pay outs ",
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "example": "17/02/2025 16:54:56"
                              },
                              "uid": {
                                "type": "string",
                                "example": "Transaction identifier"
                              },
                              "reference": {
                                "type": "string",
                                "example": "12345678912345"
                              },
                              "order": {
                                "type": "string",
                                "example": "retiro023"
                              },
                              "dni": {
                                "type": "string",
                                "example": "1111111111"
                              },
                              "currency": {
                                "type": "string",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "string",
                                "example": "1,00"
                              },
                              "type": {
                                "type": "string",
                                "example": "withdrawal"
                              },
                              "status": {
                                "type": "string",
                                "example": "new"
                              },
                              "created": {
                                "type": "string",
                                "example": "17/02/2025 16:54:56"
                              },
                              "modified": {
                                "type": "string",
                                "example": "17/02/2025 16:54:56"
                              },
                              "commission": {
                                "type": "string",
                                "example": "0.0100"
                              },
                              "iva": {
                                "type": "string",
                                "example": "0.0015"
                              },
                              "minimunFee": {
                                "type": "string",
                                "example": "0.8000"
                              },
                              "ivaMinimunFee": {
                                "type": "string",
                                "example": "0.1200"
                              },
                              "fixedFee": {
                                "type": "string",
                                "example": "1.0000"
                              },
                              "ivaFixedFee": {
                                "type": "string",
                                "example": "0.1500"
                              }
                            }
                          }
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "nextPage": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "prevPage": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid type transaction": {
                    "value": "{\n    \"typeTransaction\": \"Value is not valid.\"\n}"
                  },
                  "Invalid start date": {
                    "value": "{\n    \"startDate\": \"Date is not valid.\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Invalid type transaction",
                      "type": "object",
                      "properties": {
                        "typeTransaction": {
                          "type": "string",
                          "example": "Value is not valid."
                        }
                      }
                    },
                    {
                      "title": "Invalid start date",
                      "type": "object",
                      "properties": {
                        "startDate": {
                          "type": "string",
                          "example": "Date is not valid."
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/payin/banks/{country}": {
      "get": {
        "summary": "Lista de códigos bancarios",
        "description": "",
        "operationId": "bank-codes",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Perú ": {
                    "summary": "Perú ",
                    "value": [
                      {
                        "code": "PE_19",
                        "name": "Banco de Crédito del Perú",
                        "country": "PE",
                        "logo": "https://prontopaga.com/img/gateways/bcp-1-1694533686.png"
                      },
                      {
                        "code": "PE_20",
                        "name": "Interbank",
                        "country": "PE",
                        "logo": "https://prontopaga.com/img/gateways/interbank-2-1694533661.png"
                      },
                      {
                        "code": "PE_23",
                        "name": "BBVA Continental",
                        "country": "PE",
                        "logo": "https://prontopaga.com/img/gateways/bbva-1-1694533357.png"
                      },
                      {
                        "code": "PE_36",
                        "name": "Caja Municipal de Ahorro y Crédito Arequipa",
                        "country": "PE",
                        "logo": "https://prontopaga.com/img/gateways/caja-arequipa-1730914923.svg"
                      },
                      {
                        "code": "PE_39",
                        "name": "Caja Municipal de Ahorro y Crédito Huancayo",
                        "country": "PE",
                        "logo": "https://prontopaga.com/img/gateways/image-2-1730915860.png"
                      },
                      {
                        "code": "PE_961",
                        "name": "Banco Pichincha",
                        "country": "PE",
                        "logo": "https://prontopaga.com/img/gateways/banco-pichincha-1730901988.svg"
                      },
                      {
                        "code": "PE_962",
                        "name": "Banco Alfin",
                        "country": "PE",
                        "logo": "https://prontopaga.com/img/gateways/alfin-1730916360.svg"
                      },
                      {
                        "code": "PE_963",
                        "name": "Banco Falabella",
                        "country": "PE",
                        "logo": "https://prontopaga.com/img/gateways/banks-6-1730916948.svg"
                      }
                    ]
                  },
                  "Chile": {
                    "value": "[\n  {\n    \"code\": \"CL_487\",\n    \"name\": \"Banco BICE\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-bice-isotype-true-1712676182.svg\"\n  },\n  {\n    \"code\": \"CL_488\",\n    \"name\": \"Consorcio\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-consorcio-1712676204.svg\"\n  },\n  {\n    \"code\": \"CL_489\",\n    \"name\": \"Banco de Chile\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-banco-de-chile-isotype-true-1712676244.svg\"\n  },\n  {\n    \"code\": \"CL_490\",\n    \"name\": \"Banco del Estado\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/banco-estado-iso-1712676299.svg\"\n  },\n  {\n    \"code\": \"CL_491\",\n    \"name\": \"Banco Falabella\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-falabella-isotype-true-1712676321.svg\"\n  },\n  {\n    \"code\": \"CL_493\",\n    \"name\": \"Itaú\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-itau-1712676384.svg\"\n  },\n  {\n    \"code\": \"CL_494\",\n    \"name\": \"Banco Ripley\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-ripley-isotype-true-1712679477.svg\"\n  },\n  {\n    \"code\": \"CL_495\",\n    \"name\": \"Banco Santander\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-santader-isotype-true-1712676526.svg\"\n  },\n  {\n    \"code\": \"CL_496\",\n    \"name\": \"Banco Security\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-security-isotype-true-1712676685.svg\"\n  },\n  {\n    \"code\": \"CL_497\",\n    \"name\": \"BCI\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-bci-isotype-true-1712676707.svg\"\n  },\n  {\n    \"code\": \"CL_503\",\n    \"name\": \"Scotiabank\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-scotiabank-isotype-true-1712676743.svg\"\n  }\n]",
                    "summary": "Chile"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "example": "CL_487"
                      },
                      "name": {
                        "type": "string",
                        "example": "Banco BICE"
                      },
                      "country": {
                        "type": "string",
                        "example": "CL"
                      },
                      "logo": {
                        "type": "string",
                        "example": "https://sandbox.insospa.com/img/gateways/type-bice-isotype-true-1712676182.svg"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "message": "No API token provided."
                    },
                    "summary": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/wallet/withdrawal/wallets/{teléfono}": {
      "post": {
        "summary": "Lista de wallets - Perú",
        "description": "",
        "operationId": "wallets-list",
        "parameters": [
          {
            "name": "teléfono",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Peru": {
                    "value": "{\"data\": \"Array\",  \n     { \n       \"0\": \"yape”,  \n       \"1\": \"plin”, \n       \"2\": \"bim”, \n       \"3\": \"luqea”, \n       \"4\": \"dale”,  \n       \"5\": \"prexpe”, \n       \"6\": \"oh”, \n } "
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "message": "No API token provided."
                    },
                    "summary": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "code": "",
              "language": "json",
              "name": ""
            }
          ],
          "samples-languages": [
            "json"
          ]
        }
      }
    },
    "/payment/methods": {
      "get": {
        "summary": "Métodos de pago",
        "description": "",
        "operationId": "payment-methods",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"name\": \"WebPay\",\n    \"method\": \"webpay_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"Pago Efectivo\",\n    \"method\": \"pagoefectivo_payment\",\n    \"currency\": \"PEN\"\n  },\n  {\n    \"name\": \"ServiFacil\",\n    \"method\": \"servifacil_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"MACH\",\n    \"method\": \"mach_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"Cryptos\",\n    \"method\": \"coinbase_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"Paga con tu banco\",\n    \"method\": \"PagaConTuBanco\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"Tarjeta de Crédito\",\n    \"method\": \"mercadopago_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"PIX\",\n    \"method\": \"pix_payment\",\n    \"currency\": \"BRL\"\n  },\n  {\n    \"name\": \"Webpay Soles\",\n    \"method\": \"webpay_payment\",\n    \"currency\": \"PEN\"\n  },\n  {\n    \"name\": \"MP QR\",\n    \"method\": \"mercadopagoqr_payment\",\n    \"currency\": \"CLP\"\n  }\n]"
                  },
                  "OK": {
                    "summary": "OK",
                    "value": [
                      {
                        "id": 66,
                        "name": "Tarjeta",
                        "method": "pe_card_payment",
                        "currency": "PEN",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/light-pe-tarjeta-de-credito-debito-prontopaga-1741205079.png"
                      },
                      {
                        "id": 65,
                        "name": "Transferencia PE",
                        "method": "floid_payment",
                        "currency": "PEN",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/pagacontubanco-1741205059.jpg"
                      },
                      {
                        "id": 64,
                        "name": "QR",
                        "method": "pe_qr_payment",
                        "currency": "PEN",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/light-pe-paga-con-qr-prontopaga-1741204892.png"
                      },
                      {
                        "id": 23,
                        "name": "Pago Efectivo",
                        "method": "pagoefectivo_payment",
                        "currency": "PEN",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/light-pe-paga-con-efectivo-prontopaga-1-1741205246.png"
                      },
                      {
                        "id": 13,
                        "name": "PIX",
                        "method": "pix_payment",
                        "currency": "BRL",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/pix-1666623467-1741206559.jpg"
                      },
                      {
                        "id": 40,
                        "name": "Banco Rendimiento",
                        "method": "bancorendimiento_payment",
                        "currency": "BRL",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/unnamed-removebg-preview-1688677131-1741206499.png"
                      },
                      {
                        "id": 2,
                        "name": "WebPay",
                        "method": "webpay_payment",
                        "currency": "CLP",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/webpay-logo-1-1741206469.png"
                      },
                      {
                        "id": 11,
                        "name": "Paga con tu banco",
                        "method": "etpay_payment",
                        "currency": "CLP",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/pagacontubanco-1666623669-1741206326.png"
                      },
                      {
                        "id": 4,
                        "name": "MACH",
                        "method": "mach_payment",
                        "currency": "CLP",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/mach-1663000494-1741206450.png"
                      },
                      {
                        "id": 14,
                        "name": "MP QR",
                        "method": "mercadopagoqr_payment",
                        "currency": "CLP",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/mercadopagoqr-1666623456-1741206309.jpg"
                      },
                      {
                        "id": 74,
                        "name": "Tarjeta",
                        "method": "ec_card_payment",
                        "currency": "USD",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/logo-de-tarjeta-1-1737141998-1741205542.svg"
                      },
                      {
                        "id": 47,
                        "name": "Paga con tu Banco EC",
                        "method": "prometeo_payment",
                        "currency": "USD",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/paga-con-tu-banco-transferencias-1726090778-1741205726.png"
                      },
                      {
                        "id": 44,
                        "name": "Payphone EC",
                        "method": "payphone_payment",
                        "currency": "USD",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/payphone-1726090798-1741205750.png"
                      },
                      {
                        "id": 56,
                        "name": "BeMovil",
                        "method": "bemovil_payment",
                        "currency": "USD",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/bemovil-1726090764-1741205605.png"
                      },
                      {
                        "id": 52,
                        "name": "Broadnet",
                        "method": "broadnet_payment",
                        "currency": "USD",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/ponlemas-1726090772-1741205628.png"
                      },
                      {
                        "id": 50,
                        "name": "RED ACTIVA",
                        "method": "redactiva_payment",
                        "currency": "USD",
                        "logo": "https://sandbox.prontopaga.com/img/gateways/redactiva-1726090883-1741205700.png"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "WebPay"
                      },
                      "method": {
                        "type": "string",
                        "example": "webpay_payment"
                      },
                      "currency": {
                        "type": "string",
                        "example": "CLP"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "message": "No API token provided."
                    },
                    "summary": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/payment/new/deprecated": {
      "post": {
        "summary": "Crear un nuevo pago - Chile, Brasil, Ecuador y Perú",
        "description": "",
        "operationId": "create-payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "country",
                  "amount",
                  "clientName",
                  "clientEmail",
                  "clientPhone",
                  "clientDocument",
                  "paymentMethod",
                  "urlConfirmation",
                  "urlFinal",
                  "urlRejected",
                  "order",
                  "sign"
                ],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Código ISO de la moneda: <b>BRL/CLP/USD/PEN</b>."
                  },
                  "country": {
                    "type": "string",
                    "description": "Código del país: <b>BR/CL/EC/PE</b>."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Monto de la transacción <br><br> ⚠️En <b>Chile</b> solo se aceptan montos enteros. Mientras que en <b>Perú, Brasil y Ecuador</b> se permite el uso de montos con decimales.",
                    "format": "int32"
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Nombre y apellido del cliente"
                  },
                  "clientEmail": {
                    "type": "string",
                    "description": "Correo electrónico del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."
                  },
                  "clientPhone": {
                    "type": "string",
                    "description": "Número de teléfono del cliente"
                  },
                  "clientDocumentType": {
                    "type": "string",
                    "description": "⚠️Requerido para <b>Perú</b>. <br> Es el tipo de documento de identidad. El código puede ser: <br><br> <b>DN:</b> DNI <br>  <b>CE:</b> Carné de extranjería<br>   <b>PP:</b> Pasaporte"
                  },
                  "clientDocument": {
                    "type": "string",
                    "description": "Número del documento de identidad del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."
                  },
                  "paymentMethod": {
                    "type": "string",
                    "description": "Método de pago. Consultar las tablas de <b>Métodos por país</b> de arriba."
                  },
                  "bankCode": {
                    "type": "string",
                    "description": "Para una solicitud a un <b>banco específico (Direct Banks) en Chile o Perú</b>. <br> Aquí debes colocar el valor del campo `code` obtenido en el endpoint de <a href=\"https://docs.prontopaga.com/reference/bank-codes\">Lista de códigos bancarios</a>."
                  },
                  "urlConfirmation": {
                    "type": "string",
                    "description": "Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."
                  },
                  "urlFinal": {
                    "type": "string",
                    "description": "URL de redirección después de que el pago sea completado"
                  },
                  "urlRejected": {
                    "type": "string",
                    "description": "URL de redirección en caso de que la transacción sea rechazada"
                  },
                  "order": {
                    "type": "string",
                    "description": "Identificador del pago a asociar. Debe ser único y no repetitivo"
                  },
                  "theme": {
                    "type": "string",
                    "description": "<b>Para personalizar el formulario de pago</b> (configuración válida para los paymentMethod: yape_payment, pe_qr_payment y pe_card_payment): <br>   <pre>`“theme\": \"[{\\\"bgColor\\\": \\\"transparent\\\", \\\"mode\\\": \\\"dark\\”}]”`</pre> <ul> <li>Valores posibles de`bgColor`: transparent | #000000 (código hexadecimal de color)</li>          <li>Valores posibles de `mode`: dark | light</li> </ul> <p> <b>Para recibir el código QR directamente en la respuesta</b> (⚠️configuración válida únicamente para el paymentMethod: pe_qr_payment): </p> <pre>`”theme\": \"{\\\"type\\\":\\\"qr\\”}”`</pre>"
                  },
                  "sign": {
                    "type": "string",
                    "description": "La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."
                  },
                  "typePixPayment": {
                    "type": "integer",
                    "description": "⚠️Requerido para <b>Pix Brasil</b>.<br> Este campo se refiere al tipo de pago que ofrecemos al cliente. Entre ellos se encuentran:  <ul> <li>Valor (<b>1</b>) Pago inmediato</li> <li>Valor (<b>2</b>) Pago con fecha de vencimiento (temporalmente deshabilitado)</li>  <li>Valor (<b>3</b>) Pago por lotes con fecha de vencimiento (temporalmente deshabilitado)</li> </ul>",
                    "format": "int32"
                  },
                  "walletUID": {
                    "type": "string",
                    "description": "⚠️Requerido solamente para los <b>servicios de Perú-Yape On File</b>. Es el identificador único (UID) de la afiliación de la wallet del cliente."
                  }
                }
              },
              "examples": {
                "Chile and Peru Direct Banks": {
                  "value": {
                    "currency": "CLP",
                    "country": "CL",
                    "amount": 1000,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "PagaConTuBanco",
                    "bankCode": "CL_490",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Brazil PIX": {
                  "value": {
                    "currency": "BRL",
                    "country": "BR",
                    "amount": 1000,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "pix_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters",
                    "typePixPayment": 1,
                    "isIframePay": "true"
                  }
                },
                "Brazil PIX+": {
                  "value": {
                    "currency": "BRL",
                    "country": "BR",
                    "amount": 1000,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "belvo_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Ecuador Cash (Bemovil)": {
                  "value": {
                    "currency": "USD",
                    "country": "EC",
                    "amount": 10,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "bemovil_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Ecuador Wallet (Payphone)": {
                  "value": {
                    "currency": "USD",
                    "country": "EC",
                    "amount": 10,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "payphone_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Peru Card": {
                  "value": {
                    "currency": "PEN",
                    "country": "PE",
                    "amount": "10",
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "pe_card_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Peru QR (with customized form)": {
                  "value": {
                    "currency": "PEN",
                    "country": "PE",
                    "amount": 100,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "pe_qr_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "theme": "[{\"bgColor\": \"transparent\", \"mode\": \"dark\"}]",
                    "sign": "Signature of the parameters"
                  }
                },
                "Chile Pay With Your Bank": {
                  "value": {
                    "currency": "CLP",
                    "country": "CL",
                    "amount": 1000,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "PagaConTuBanco",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Chile QR/Wallet (Mercado Pago)": {
                  "value": {
                    "currency": "CLP",
                    "country": "CL",
                    "amount": 1000,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "mercadopagoqr_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Chile QR/Wallet (MACH)": {
                  "value": {
                    "currency": "CLP",
                    "country": "CL",
                    "amount": 1000,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "mach_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Ecuador Pay With Your Bank": {
                  "value": {
                    "currency": "USD",
                    "country": "EC",
                    "amount": 10,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "PagaConTuBanco",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Peru Cash": {
                  "value": {
                    "currency": "PEN",
                    "country": "PE",
                    "amount": "10",
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "pagoefectivo_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Peru Pay With Your Bank": {
                  "value": {
                    "currency": "PEN",
                    "country": "PE",
                    "amount": "10",
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocumentType": "DN",
                    "clientDocument": "12345678912",
                    "paymentMethod": "PagaConTuBanco",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Peru Wallet (Yape, with customized form)": {
                  "value": {
                    "currency": "PEN",
                    "country": "PE",
                    "amount": 100,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "yape_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "theme": "[{\"bgColor\": \"transparent\", \"mode\": \"dark\"}]",
                    "sign": "Signature of the parameters"
                  }
                },
                "Ecuador Cash (Ponle Más)": {
                  "value": {
                    "currency": "USD",
                    "country": "EC",
                    "amount": 10,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "broadnet_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Ecuador Cash (Red Activa/Western Union)": {
                  "value": {
                    "currency": "USD",
                    "country": "EC",
                    "amount": 10,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "redactiva_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Chile Card (Webpay)": {
                  "value": {
                    "currency": "CLP",
                    "country": "CL",
                    "amount": 1000,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "111111111-1",
                    "paymentMethod": "webpay_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Ecuador Card (Payphone)": {
                  "value": {
                    "currency": "USD",
                    "country": "EC",
                    "amount": 10,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "ec_card_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sing": "Signature of the parameters"
                  }
                },
                "Peru QR (receive QR directly)": {
                  "value": {
                    "currency": "PEN",
                    "country": "PE",
                    "amount": 100,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "pe_qr_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "theme": "{\"type\":\"qr\"}",
                    "sign": "Signature of the parameters"
                  }
                },
                "Peru Card (with customized form)": {
                  "value": {
                    "currency": "PEN",
                    "country": "PE",
                    "amount": "10",
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "pe_card_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "theme": "[{\"bgColor\": \"transparent\", \"mode\": \"dark\"}]",
                    "sing": "Signature of the parameters"
                  }
                },
                "Peru Yape On File": {
                  "value": {
                    "currency": "PEN",
                    "country": "PE",
                    "amount": 100,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "yape_cof_payment",
                    "urlConfirmation": "https://www.webhook.com",
                    "order": "1234",
                    "walletUID": "01JXNCAK8TX6PNBBN7ZNBSAEJH",
                    "sign": "Signature of the parameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Direct Banks": {
                    "value": "{\n    \"urlPay\"= [string] // Link to process the payment\n    \"uid\"= [string] // Payment identifier in the system\n    \"reference\"= [string] // Reference in our services\n}"
                  },
                  "Brazil Pix": {
                    "value": "{\n    \"urlPay\"= [string] // Link to process the payment\n    \"uid\": [string] // Payment identifier in the system\n}"
                  },
                  "Brazil Pix+ v1": {
                    "value": "{\n    \"urlPay\"= [string] // Link to process the payment\n    \"uid\": [string] // Payment identifier in the system\n}"
                  },
                  "Ecuador Payphone": {
                    "value": "{\n    \"urlPay\"= [string] // Link to process the payment\n    \"uid\": [string] // Payment identifier in the system\n}"
                  },
                  "Peru QR (receive QR directly)": {
                    "value": "{\n    \"urlPay\": \"https://prontopaga.com/payment/rest/01JRAZYTH4A55JB5R9GQ\",\n    \"uid\": \"01JRAZYTH4A55JB59GQ\",\n    \"reference\": \"1743461\",\n    \"height\": {\n        \"desktop\": {\n            \"width\": \"500px\",\n            \"height\": \"730px\"\n        },\n        \"mobile\": {\n            \"width\": \"100%\",\n            \"height\": \"730px\"\n        }\n    },\n    \"qrCode\": \"data:image/png;base64,code\"\n}"
                  },
                  "Peru Yape On File": {
                    "value": "{\n    \"uid\" : \"01JRAZYTH4A55JB59GQ\",\n    \"reference\": \"1743461\",\n    \"wallet_uid\": \"01JXNK36A0GNB8Z6791MZG8ERH\",\n    \"clientDocument\": \"20242024\",\n    \"status\": \"created\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Peru QR (receive QR directly)",
                      "type": "object",
                      "properties": {
                        "urlPay": {
                          "type": "string",
                          "example": "https://prontopaga.com/payment/rest/01JRAZYTH4A55JB5R9GQ"
                        },
                        "uid": {
                          "type": "string",
                          "example": "01JRAZYTH4A55JB59GQ"
                        },
                        "reference": {
                          "type": "string",
                          "example": "1743461"
                        },
                        "height": {
                          "type": "object",
                          "properties": {
                            "desktop": {
                              "type": "object",
                              "properties": {
                                "width": {
                                  "type": "string",
                                  "example": "500px"
                                },
                                "height": {
                                  "type": "string",
                                  "example": "730px"
                                }
                              }
                            },
                            "mobile": {
                              "type": "object",
                              "properties": {
                                "width": {
                                  "type": "string",
                                  "example": "100%"
                                },
                                "height": {
                                  "type": "string",
                                  "example": "730px"
                                }
                              }
                            }
                          }
                        },
                        "qrCode": {
                          "type": "string",
                          "example": "data:image/png;base64,code"
                        }
                      }
                    },
                    {
                      "title": "Peru Yape On File",
                      "type": "object",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "example": "01JRAZYTH4A55JB59GQ"
                        },
                        "reference": {
                          "type": "string",
                          "example": "1743461"
                        },
                        "wallet_uid": {
                          "type": "string",
                          "example": "01JXNK36A0GNB8Z6791MZG8ERH"
                        },
                        "clientDocument": {
                          "type": "string",
                          "example": "20242024"
                        },
                        "status": {
                          "type": "string",
                          "example": "created"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n   \"uid\": \"Payment identifier in the system\",\n   \"status\": \"rejected\",\n   \"reference\": \"Reason for rejection\" \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string",
                      "example": "Payment identifier in the system"
                    },
                    "status": {
                      "type": "string",
                      "example": "rejected"
                    },
                    "reference": {
                      "type": "string",
                      "example": "Reason for rejection"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/payment/mall/new": {
      "post": {
        "summary": "Crear un nuevo pago - Chile Webpay Mall",
        "description": "",
        "operationId": "create-payment-chile-webpay-mall",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "country",
                  "amount",
                  "clientName",
                  "clientEmail",
                  "clientPhone",
                  "clientDocument",
                  "paymentMethod",
                  "urlConfirmation",
                  "urlFinal",
                  "urlRejected",
                  "order",
                  "transactions",
                  "sign"
                ],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Código ISO de la moneda: <b>CLP/USD</b>."
                  },
                  "country": {
                    "type": "string",
                    "description": "Código del país: <b>CL</b>."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Monto de la transacción",
                    "format": "int32"
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Nombre y apellido del cliente"
                  },
                  "clientEmail": {
                    "type": "string",
                    "description": "Correo electrónico del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."
                  },
                  "clientPhone": {
                    "type": "string",
                    "description": "Numero telefónico del cliente"
                  },
                  "clientDocument": {
                    "type": "string",
                    "description": "Número del documento de identidad del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."
                  },
                  "paymentMethod": {
                    "type": "string",
                    "description": "`webpay_mall_payment`"
                  },
                  "urlConfirmation": {
                    "type": "string",
                    "description": "Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."
                  },
                  "urlFinal": {
                    "type": "string",
                    "description": "URL de redirección después de que el pago sea completado"
                  },
                  "urlRejected": {
                    "type": "string",
                    "description": "URL de redirección en caso de que la transacción sea rechazada"
                  },
                  "order": {
                    "type": "string",
                    "description": "Identificador del pago a asociar. Debe ser único y no repetitivo"
                  },
                  "transactions": {
                    "type": "array",
                    "description": "Es el lote de transacciones que se procesarán. Deben contar con el monto y un order id único. <br> Ejemplo: <br> <br> <b>\"transactions\": [<br>       {<br>         \"amount\": 60000,<br>         \"order_id\": \"order_12345\"<br>       },<br>       {<br>         \"amount\": 55000,<br>         \"order_id\": \"order_1234\"<br>       }<br>     ],<br></b>",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sign": {
                    "type": "string",
                    "description": "La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."
                  }
                }
              },
              "examples": {
                "Chile Webpay": {
                  "value": {
                    "currency": "CLP",
                    "country": "CL",
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "9999999999",
                    "clientDocument": "111111111-1",
                    "paymentMethod": "webpay_mall_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "transactions": [
                      {
                        "amount": 60000,
                        "order_id": "order_12345"
                      },
                      {
                        "amount": 25000,
                        "order_id": "order_12346"
                      },
                      {
                        "amount": 55000,
                        "order_id": "order_12347"
                      }
                    ],
                    "sign": "Signature of the parameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"urlPay\"= [string] //  Link to process the payment\n    \"uid\"= [string] // Payment identifier in the system\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"msg\"= \"Commerce code not be null\",\n    \"error\"= \"CommerceCode field\"\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/payment/v2/new": {
      "post": {
        "summary": "Crear un nuevo pago - Brasil Pix+ v2",
        "description": "",
        "operationId": "create-payment-brazil-pixplusv2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "country",
                  "amount",
                  "clientName",
                  "clientEmail",
                  "clientPhone",
                  "clientDocument",
                  "paymentMethod",
                  "urlConfirmation",
                  "urlFinal",
                  "urlRejected",
                  "order",
                  "sign"
                ],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Código ISO de la moneda: <b>BRL/USD</b>."
                  },
                  "country": {
                    "type": "string",
                    "description": "Código del país: <b>BR</b>."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Monto de la transacción"
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Nombre y apellido del cliente"
                  },
                  "clientEmail": {
                    "type": "string",
                    "description": "Correo electrónico del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."
                  },
                  "clientPhone": {
                    "type": "string",
                    "description": "Numero telefónico del cliente"
                  },
                  "clientDocument": {
                    "type": "string",
                    "description": "Número del documento de identidad del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."
                  },
                  "paymentMethod": {
                    "type": "string",
                    "description": "`belvo_payment`"
                  },
                  "urlConfirmation": {
                    "type": "string",
                    "description": "Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."
                  },
                  "urlFinal": {
                    "type": "string",
                    "description": "URL de redirección después de que el pago sea completado"
                  },
                  "urlRejected": {
                    "type": "string",
                    "description": "URL de redirección en caso de que la transacción sea rechazada"
                  },
                  "order": {
                    "type": "string",
                    "description": "Identificador del pago a asociar. Debe ser único y no repetitivo"
                  },
                  "sign": {
                    "type": "string",
                    "description": "La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "currency": "BRL",
                    "country": "BR",
                    "amount": 1000,
                    "clientName": "John Doe",
                    "clientEmail": "johndoe@example.com",
                    "clientPhone": "999999999",
                    "clientDocument": "12345678912",
                    "paymentMethod": "belvo_payment",
                    "urlConfirmation": "Webhook",
                    "urlFinal": "example.com/successful",
                    "urlRejected": "example.com/declined",
                    "order": "1234",
                    "sign": "Signature of the parameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "institutions": [],
                      "uid": "1293900403993002"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"msg\"= \"Commerce code not be null\",\n    \"error\"= \"CommerceCode field\"\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "code": "{\n  \"currency\": \"BRL\",\n  \"country\": \"BR\",\n  \"amount\": \"150.90\",\n  \"clientName\": \"John Doe\",\n  \"clientEmail\": \"johndoe@example.com\",\n  \"clientPhone\": \"999999999\",\n  \"clientDocument\": \"12345678912\",\n  \"paymentMethod\": \"belvo_payment\",\n  \"urlConfirmation\": \"https://www.webhook.com\",\n  \"urlFinal\": \"https://sandbox.prontopaga.com/successful\",\n  \"urlRejected\": \"https://sandbox.prontopaga.com/declined\",\n  \"order\": \"XYZ789\",\n  \"sign\": \"Signature of the parameters\"\n}",
              "language": "json",
              "name": "Brazil Pix+ v2"
            }
          ],
          "samples-languages": [
            "json"
          ]
        }
      }
    },
    "/payment/v2/start": {
      "post": {
        "summary": "Selección de institución de pago Brasil Pix+ v2",
        "description": "",
        "operationId": "institution-brazil-pixplus-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id_institution",
                  "uid"
                ],
                "properties": {
                  "id_institution": {
                    "type": "string",
                    "description": "ID de la institución bancaria seleccionada​"
                  },
                  "uid": {
                    "type": "string",
                    "description": "uid del pago"
                  }
                }
              },
              "examples": {
                "Brazil Institution": {
                  "value": {
                    "id_institution": "string",
                    "uid": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "url_bank_payment": "",
                      "uid": "13940202002839"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": {
                      "error": {
                        "paymentMethod": "(string) paymentMethod, cannot be null.",
                        "urlConfirmation": "(string) urlConfirmation, cannot be null and must be a valid URL.",
                        "order": "(string) order, cannot be null.",
                        "currency": "(string) currency, cannot be null.",
                        "amount": "(numeric) amount, cannot be null."
                      }
                    },
                    "summary": "Bad Request"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "code": "{\n  \"id_institution\": \"string\",\n  \"uid\": \"string\"\n}",
              "language": "json",
              "name": "Brazil Institution"
            }
          ],
          "samples-languages": [
            "json"
          ]
        }
      }
    },
    "/payment/yape/{uid}/process/deprecated": {
      "post": {
        "summary": "Procesa un pago - Perú Botón Yape (sin iFrame)",
        "description": "",
        "operationId": "create-payment-peru-yape-api",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber",
                  "otp"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "Número de teléfono del cliente"
                  },
                  "otp": {
                    "type": "integer",
                    "description": "Código de validación OTP",
                    "format": "int32"
                  }
                }
              },
              "examples": {
                "Peru Yape (without iFrame)": {
                  "value": {
                    "phoneNumber": "999999999",
                    "otp": 123456
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful": {
                    "value": "{\n    \"uid\": \"Payment identifier in the system\",\n    \"status\": \"Status of the payment\",\n    \"actionType\": \"API\"\n}"
                  },
                  "Rejected-Third OTP attempt failed": {
                    "value": "{\n    \"uid\": \"Payment identifier in the system\",\n    \"status\": \"rejected\",\n    \"errorTitle\": \"Title of the rejection\",\n    \"errorMessage\": \"Description of the rejection\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Successful",
                      "type": "object",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "example": "Payment identifier in the system"
                        },
                        "status": {
                          "type": "string",
                          "example": "Status of the payment"
                        },
                        "actionType": {
                          "type": "string",
                          "example": "API"
                        }
                      }
                    },
                    {
                      "title": "Rejected-Third OTP attempt failed",
                      "type": "object",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "example": "Payment identifier in the system"
                        },
                        "status": {
                          "type": "string",
                          "example": "rejected"
                        },
                        "errorTitle": {
                          "type": "string",
                          "example": "Title of the rejection"
                        },
                        "errorMessage": {
                          "type": "string",
                          "example": "Description of the rejection"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Rejected": {
                    "value": "{\n  \"status\": \"false\",\n  \"errorTitle\": \"Title of the rejection\",\n  \"errorMessage\": \"Description of the rejection\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "false"
                    },
                    "errorTitle": {
                      "type": "string",
                      "example": "Title of the rejection"
                    },
                    "errorMessage": {
                      "type": "string",
                      "example": "Description of the rejection"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/payment/data/{uid}": {
      "get": {
        "summary": "Detalles de un pago (UID)",
        "description": "",
        "operationId": "payment-details-uid",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successful response": {
                    "value": {
                      "uid": "01JQS0FA3F17BXMSPB60Z2A2MK",
                      "status": "expired",
                      "amount": "100.00",
                      "method": "QR",
                      "reference": "17435223435013",
                      "clientEmail": "johndoe@example.com",
                      "clientDocument": "12345678912",
                      "order": "124324",
                      "currency": "PEN",
                      "country": "PE",
                      "method_type": "",
                      "method_detail": "",
                      "hash": "67b1ebd3d0a26057b93eca98339a2762",
                      "sign": "6cd4f31ae2458c3c99eb3a43124d9d5ced95e17421f7d1244d65ad7781daf78a"
                    }
                  },
                  "Payment not found": {
                    "value": {
                      "error": "Payment not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n    \"message\": \"No API token provided.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No API token provided."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/payment/order/{order}": {
      "get": {
        "summary": "Detalles de un pago (order)",
        "description": "",
        "operationId": "payment-details-order",
        "parameters": [
          {
            "name": "order",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "uid": "01JQS0FA3F17BXMSPB60Z2A2MK",
                      "status": "expired",
                      "amount": "100.00",
                      "method": "QR",
                      "reference": "17435223435013",
                      "clientEmail": "johndoe@example.com",
                      "clientDocument": "12345678912",
                      "order": "124324",
                      "currency": "PEN",
                      "country": "PE",
                      "method_type": "",
                      "method_detail": "",
                      "hash": "67b1ebd3d0a26057b93eca98339a2762",
                      "sign": "6cd4f31ae2458c3c99eb3a43124d9d5ced95e17421f7d1244d65ad7781daf78a"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n \"error\": [string] // “Payment not found”\n}\n"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "message": "No API token provided."
                    },
                    "summary": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/payment/peqr/cancel/{uid}/deprecated": {
      "post": {
        "summary": "Cancelar un pago con QR - Perú",
        "description": "",
        "operationId": "cancel-qr-peru",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Successfully Canceled Payment": {
                    "value": "{\n  \"uid\": \"01JRGN3X30CHGK338M4ERBF4KW\",\n  \"status\": \"canceled\",\n  \"message\": \"Payment successfully canceled\"\n}"
                  },
                  "Not Canceled Payment": {
                    "value": "{\n  \"uid\": \"01JRGN3X30CHGK338M4ERBF4KW\",\n  \"status\": \"status\",\n  \"message\": \"Payment could not be canceled\"\n}"
                  },
                  "Previously Canceled Payment": {
                    "value": "{\n  \"uid\": \"01JRGN3X30CHGK338M4ERBF4KW\",\n  \"status\": \"canceled\",\n  \"message\": \"The payment has already been canceled\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Successfully Canceled Payment",
                      "type": "object",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "example": "01JRGN3X30CHGK338M4ERBF4KW"
                        },
                        "status": {
                          "type": "string",
                          "example": "canceled"
                        },
                        "message": {
                          "type": "string",
                          "example": "Payment successfully canceled"
                        }
                      }
                    },
                    {
                      "title": "Not Canceled Payment",
                      "type": "object",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "example": "01JRGN3X30CHGK338M4ERBF4KW"
                        },
                        "status": {
                          "type": "string",
                          "example": "status"
                        },
                        "message": {
                          "type": "string",
                          "example": "Payment could not be canceled"
                        }
                      }
                    },
                    {
                      "title": "Previously Canceled Payment",
                      "type": "object",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "example": "01JRGN3X30CHGK338M4ERBF4KW"
                        },
                        "status": {
                          "type": "string",
                          "example": "canceled"
                        },
                        "message": {
                          "type": "string",
                          "example": "The payment has already been canceled"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"You do not have permission to cancel this payment\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "You do not have permission to cancel this payment"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"The payment is not a QR type\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "The payment is not a QR type"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/reverse/new": {
      "post": {
        "summary": "Devolución de un pago",
        "description": "",
        "operationId": "refunds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reference",
                  "clientDocument",
                  "amount",
                  "urlCallbackRefund",
                  "sign"
                ],
                "properties": {
                  "reference": {
                    "type": "string",
                    "description": "Número de referencia de la transacción​"
                  },
                  "clientDocument": {
                    "type": "string",
                    "description": "Número del documento de identidad del cliente"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Monto de la transacción​​"
                  },
                  "urlCallbackRefund": {
                    "type": "string",
                    "description": "Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."
                  },
                  "sign": {
                    "type": "string",
                    "description": "La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."
                  }
                }
              },
              "examples": {
                "Reverse": {
                  "value": {
                    "reference": "1111111111",
                    "clientDocument": "12345678912",
                    "amount": 300,
                    "urlCallbackRefund": "https://www.webhook.com",
                    "sign": "Signature of the parameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\"= \"success\"\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
[...]
