{"openapi":"3.1.0","info":{"title":"prontopaga-api","version":"1.6"},"servers":[{"url":"https://sandbox.insospa.com/api"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/payment/methods/{currency}":{"get":{"summary":"Métodos de pago por moneda","description":"","operationId":"payment-methods-per-currency","parameters":[{"name":"currency","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"name\": \"PIX\",\n    \"method\": \"pix_payment\",\n    \"currency\": \"BRL\"\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"PIX"},"method":{"type":"string","example":"pix_payment"},"currency":{"type":"string","example":"BRL"}}}}}}}},"deprecated":false}},"/balance":{"get":{"summary":"Balance","description":"","operationId":"balance","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"neto\": {\n    \"CLP\": \"17.924.893,99\",\n    \"USD\": \"56,05\",\n    \"BRL\": \"90,30\",\n    \"PEN\": \"324,80\"\n  },\n  \"deferred\": {\n    \"CLP\": \"192,86\"\n  },\n  \"available\": {\n    \"CLP\": \"17.924.701,13\",\n    \"USD\": \"56,05\",\n    \"BRL\": \"90,30\",\n    \"PEN\": \"324,80\"\n  }\n}"}},"schema":{"type":"object","properties":{"neto":{"type":"object","properties":{"CLP":{"type":"string","example":"17.924.893,99"},"USD":{"type":"string","example":"56,05"},"BRL":{"type":"string","example":"90,30"},"PEN":{"type":"string","example":"324,80"}}},"deferred":{"type":"object","properties":{"CLP":{"type":"string","example":"192,86"}}},"available":{"type":"object","properties":{"CLP":{"type":"string","example":"17.924.701,13"},"USD":{"type":"string","example":"56,05"},"BRL":{"type":"string","example":"90,30"},"PEN":{"type":"string","example":"324,80"}}}}}}}}},"deprecated":false}},"/transactions/yesterday":{"get":{"summary":"Transacciones día anterior","description":"","operationId":"previous-day-transactions","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"date\": \"22/06/2023 16:29:12\",\n    \"id\": 1111,\n    \"currency\": \"CLP\",\n    \"amount\": \"1.000,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"success\"\n  },\n  {\n    \"date\": \"22/06/2023 16:38:44\",\n    \"id\": 2222,\n    \"currency\": \"CLP\",\n    \"amount\": \"1.000,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"canceled\"\n  },\n  {\n    \"date\": \"22/06/2023 23:35:33\",\n    \"id\": 3333,\n    \"currency\": \"CLP\",\n    \"amount\": \"11.426,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"new\"\n  },\n  {\n    \"date\": \"22/06/2023 23:37:54\",\n    \"id\": 4444,\n    \"currency\": \"CLP\",\n    \"amount\": \"19.676,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"new\"\n  },\n  {\n    \"date\": \"22/06/2023 23:59:34\",\n    \"id\": 5555,\n    \"currency\": \"CLP\",\n    \"amount\": \"16.204,00\",\n    \"type\": \"withdrawal\",\n    \"status\": \"new\"\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"22/06/2023 16:29:12"},"id":{"type":"integer","example":1111,"default":0},"currency":{"type":"string","example":"CLP"},"amount":{"type":"string","example":"1.000,00"},"type":{"type":"string","example":"withdrawal"},"status":{"type":"string","example":"success"}}}}}}}},"deprecated":false}},"/transactions/custom-date":{"post":{"summary":"Consultar transacciones por fecha","description":"","operationId":"transactions-by-date","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["startDate","endDate","typeTransaction"],"properties":{"startDate":{"type":"string","description":"Fecha inicial en formato `YYYY-MM-DD`"},"endDate":{"type":"string","description":"Fecha final en formato `YYYY-MM-DD`"},"typeTransaction":{"type":"string","description":"Tipo de transacciones. <br>Pueden ser: <b>withdrawal, payment</b>"},"page":{"type":"integer","description":"Número de página","format":"int32"},"perPage":{"type":"integer","description":"Cantidad de registros por página. El valor máximo es `200`","format":"int32"}}},"examples":{"Pay outs":{"value":{"startDate":"2024-08-01","endDate":"2024-08-13","typeTransaction":"withdrawal","page":3,"perPage":10}},"Pay ins":{"value":{"startDate":"2024-08-01","endDate":"2024-08-13","typeTransaction":"payment","page":3,"perPage":10}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Pay ins":{"value":"{\n    \"data\": [\n        {\n            \"date\": \"17/02/2025 09:50:14\",\n            \"uid\": \"Transaction identifier\",\n            \"reference\": \"123456\",\n            \"order\": \"101\",\n            \"currency\": \"CLP\",\n            \"amount\": \"1.000,00\",\n            \"type\": \"payment\",\n            \"status\": \"expired\",\n            \"modified\": \"17/02/2025 10:05:14\",\n            \"released\": \"\",\n            \"statusSettle\": \"\"\n        },\n        {\n            \"date\": \"17/02/2025 09:58:16\",\n            \"uid\": \"Transaction identifier\",\n            \"reference\": \"123457\",\n            \"order\": \"102\",\n            \"currency\": \"CLP\",\n            \"amount\": \"14.000,00\",\n            \"type\": \"payment\",\n            \"status\": \"success\",\n            \"modified\": \"17/02/2025 10:56:11\",\n            \"released\": \"18/02/2025 09:58:16\",\n            \"commission\": \"1227.0000\",\n            \"iva\": \"0.0000\",\n            \"minimunFee\": \"500.0000\",\n            \"ivaMinimunFee\": \"0.0000\",\n            \"fixedFee\": \"76.0000\",\n            \"ivaFixedFee\": \"0.0000\",\n            \"statusSettle\": \"Pending\"\n        }\n    ],\n    \"totalPages\": 19,\n    \"page\": 2,\n    \"nextPage\": 3,\n    \"prevPage\": 2\n}"},"Pay outs ":{"value":"  {\n    \"data\": [\n        {\n            \"date\": \"17/02/2025 16:54:56\",\n            \"uid\": \"Transaction identifier\",\n            \"reference\": \"12345678912345\",\n            \"order\": \"retiro023\",\n            \"dni\": \"1111111111\",\n            \"currency\": \"USD\",\n            \"amount\": \"1,00\",\n            \"type\": \"withdrawal\",\n            \"status\": \"new\",\n            \"created\": \"17/02/2025 16:54:56\",\n            \"modified\": \"17/02/2025 16:54:56\",\n            \"commission\": \"0.0100\",\n            \"iva\": \"0.0015\",\n            \"minimunFee\": \"0.8000\",\n            \"ivaMinimunFee\": \"0.1200\",\n            \"fixedFee\": \"1.0000\",\n            \"ivaFixedFee\": \"0.1500\"\n        }\n    ],\n    \"totalPages\": 1,\n    \"page\": 1,\n    \"nextPage\": 1,\n    \"prevPage\": 0\n}"}},"schema":{"oneOf":[{"title":"Pay ins","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"17/02/2025 09:50:14"},"uid":{"type":"string","example":"Transaction identifier"},"reference":{"type":"string","example":"123456"},"order":{"type":"string","example":"101"},"currency":{"type":"string","example":"CLP"},"amount":{"type":"string","example":"1.000,00"},"type":{"type":"string","example":"payment"},"status":{"type":"string","example":"expired"},"modified":{"type":"string","example":"17/02/2025 10:05:14"},"released":{"type":"string","example":""},"statusSettle":{"type":"string","example":""}}}},"totalPages":{"type":"integer","example":19,"default":0},"page":{"type":"integer","example":2,"default":0},"nextPage":{"type":"integer","example":3,"default":0},"prevPage":{"type":"integer","example":2,"default":0}}},{"title":"Pay outs ","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"17/02/2025 16:54:56"},"uid":{"type":"string","example":"Transaction identifier"},"reference":{"type":"string","example":"12345678912345"},"order":{"type":"string","example":"retiro023"},"dni":{"type":"string","example":"1111111111"},"currency":{"type":"string","example":"USD"},"amount":{"type":"string","example":"1,00"},"type":{"type":"string","example":"withdrawal"},"status":{"type":"string","example":"new"},"created":{"type":"string","example":"17/02/2025 16:54:56"},"modified":{"type":"string","example":"17/02/2025 16:54:56"},"commission":{"type":"string","example":"0.0100"},"iva":{"type":"string","example":"0.0015"},"minimunFee":{"type":"string","example":"0.8000"},"ivaMinimunFee":{"type":"string","example":"0.1200"},"fixedFee":{"type":"string","example":"1.0000"},"ivaFixedFee":{"type":"string","example":"0.1500"}}}},"totalPages":{"type":"integer","example":1,"default":0},"page":{"type":"integer","example":1,"default":0},"nextPage":{"type":"integer","example":1,"default":0},"prevPage":{"type":"integer","example":0,"default":0}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Invalid type transaction":{"value":"{\n    \"typeTransaction\": \"Value is not valid.\"\n}"},"Invalid start date":{"value":"{\n    \"startDate\": \"Date is not valid.\"\n}"}},"schema":{"oneOf":[{"title":"Invalid type transaction","type":"object","properties":{"typeTransaction":{"type":"string","example":"Value is not valid."}}},{"title":"Invalid start date","type":"object","properties":{"startDate":{"type":"string","example":"Date is not valid."}}}]}}}}},"deprecated":false}},"/payin/banks/{country}":{"get":{"summary":"Lista de códigos bancarios","description":"","operationId":"bank-codes","parameters":[{"name":"country","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"code\": \"CL_487\",\n    \"name\": \"Banco BICE\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-bice-isotype-true-1712676182.svg\"\n  },\n  {\n    \"code\": \"CL_488\",\n    \"name\": \"Consorcio\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-consorcio-1712676204.svg\"\n  },\n  {\n    \"code\": \"CL_489\",\n    \"name\": \"Banco de Chile\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-banco-de-chile-isotype-true-1712676244.svg\"\n  },\n  {\n    \"code\": \"CL_490\",\n    \"name\": \"Banco del Estado\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/banco-estado-iso-1712676299.svg\"\n  },\n  {\n    \"code\": \"CL_491\",\n    \"name\": \"Banco Falabella\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-falabella-isotype-true-1712676321.svg\"\n  },\n  {\n    \"code\": \"CL_493\",\n    \"name\": \"Itaú\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-itau-1712676384.svg\"\n  },\n  {\n    \"code\": \"CL_494\",\n    \"name\": \"Banco Ripley\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-ripley-isotype-true-1712679477.svg\"\n  },\n  {\n    \"code\": \"CL_495\",\n    \"name\": \"Banco Santander\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-santader-isotype-true-1712676526.svg\"\n  },\n  {\n    \"code\": \"CL_496\",\n    \"name\": \"Banco Security\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-security-isotype-true-1712676685.svg\"\n  },\n  {\n    \"code\": \"CL_497\",\n    \"name\": \"BCI\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-bci-isotype-true-1712676707.svg\"\n  },\n  {\n    \"code\": \"CL_503\",\n    \"name\": \"Scotiabank\",\n    \"country\": \"CL\",\n    \"logo\": \"https://sandbox.insospa.com/img/gateways/type-scotiabank-isotype-true-1712676743.svg\"\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"CL_487"},"name":{"type":"string","example":"Banco BICE"},"country":{"type":"string","example":"CL"},"logo":{"type":"string","example":"https://sandbox.insospa.com/img/gateways/type-bice-isotype-true-1712676182.svg"}}}}}}}},"deprecated":false}},"/wallet/withdrawal/wallets/{teléfono}":{"post":{"summary":"Lista de wallets - Perú","description":"","operationId":"wallets-list","parameters":[{"name":"teléfono","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Peru":{"value":"{\"data\": \"Array\",  \n     { \n       \"0\": \"yape”,  \n       \"1\": \"plin”, \n       \"2\": \"bim”, \n       \"3\": \"luqea”, \n       \"4\": \"dale”,  \n       \"5\": \"prexpe”, \n       \"6\": \"oh”, \n } "}}}}}},"deprecated":false}},"/payment/methods":{"get":{"summary":"Métodos de pago","description":"","operationId":"payment-methods","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"name\": \"WebPay\",\n    \"method\": \"webpay_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"Pago Efectivo\",\n    \"method\": \"pagoefectivo_payment\",\n    \"currency\": \"PEN\"\n  },\n  {\n    \"name\": \"ServiFacil\",\n    \"method\": \"servifacil_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"MACH\",\n    \"method\": \"mach_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"Cryptos\",\n    \"method\": \"coinbase_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"Paga con tu banco\",\n    \"method\": \"PagaConTuBanco\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"Tarjeta de Crédito\",\n    \"method\": \"mercadopago_payment\",\n    \"currency\": \"CLP\"\n  },\n  {\n    \"name\": \"PIX\",\n    \"method\": \"pix_payment\",\n    \"currency\": \"BRL\"\n  },\n  {\n    \"name\": \"Webpay Soles\",\n    \"method\": \"webpay_payment\",\n    \"currency\": \"PEN\"\n  },\n  {\n    \"name\": \"MP QR\",\n    \"method\": \"mercadopagoqr_payment\",\n    \"currency\": \"CLP\"\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"WebPay"},"method":{"type":"string","example":"webpay_payment"},"currency":{"type":"string","example":"CLP"}}}}}}}},"deprecated":false}},"/payment/new":{"post":{"summary":"Crear un nuevo pago - Chile, Brasil, Ecuador y Perú","description":"","operationId":"create-payment","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","country","amount","clientName","clientEmail","clientPhone","clientDocument","paymentMethod","urlConfirmation","urlFinal","urlRejected","order","sign"],"properties":{"currency":{"type":"string","description":"Código ISO de la moneda: <b>BRL/CLP/USD/PEN</b>."},"country":{"type":"string","description":"Código del país: <b>BR/CL/EC/PE</b>."},"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"clientName":{"type":"string","description":"Nombre y apellido del cliente"},"clientEmail":{"type":"string","description":"Correo electrónico del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."},"clientPhone":{"type":"string","description":"Número de teléfono del cliente"},"clientDocumentType":{"type":"string","description":"⚠️Requerido para <b>Perú</b>. <br> Es el tipo de documento de identidad. El código puede ser: <br><br> <b>DN:</b> DNI <br>  <b>CE:</b> Carné de extranjería<br>   <b>PP:</b> Pasaporte"},"clientDocument":{"type":"string","description":"Número del documento de identidad del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."},"paymentMethod":{"type":"string","description":"Método de pago. Consultar las tablas de <b>Métodos por país</b> de arriba."},"bankCode":{"type":"string","description":"Para una solicitud a un <b>banco específico (Direct Banks) en Chile o Perú</b>. <br> Aquí debes colocar el valor del campo `code` obtenido en el endpoint de <a href=\"https://docs.prontopaga.com/reference/bank-codes\">Lista de códigos bancarios</a>."},"urlConfirmation":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"urlFinal":{"type":"string","description":"URL de redirección después de que el pago sea completado"},"urlRejected":{"type":"string","description":"URL de redirección en caso de que la transacción sea rechazada"},"order":{"type":"string","description":"Identificador del pago a asociar. Debe ser único y no repetitivo"},"theme":{"type":"array","description":"<b>\"theme\": [</b><br><b>{</b><br> <b>\"bgColor\": \"transparent\",</b>// valores posibles: transparent | #000000 (codigo hexadecimal de color)<br>         <b>\"mode\": \"light\"</b>// valores posibles: dark | light<br>         <b>}<br>     ]</b><br> <br> Esta configuraciones son válidas para los paymentMethod: <b>yape_payment, pe_qr_payment y pe_card_payment</b>.","items":{"type":"string"}},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."},"typePixPayment":{"type":"integer","description":"⚠️Requerido para <b>Pix Brasil</b>.<br> Este campo se refiere al tipo de pago que ofrecemos al cliente. Entre ellos se encuentran:  <ul> <li>Valor (<b>1</b>) Pago inmediato</li> <li>Valor (<b>2</b>) Pago con fecha de vencimiento (temporalmente deshabilitado)</li>  <li>Valor (<b>3</b>) Pago por lotes con fecha de vencimiento (temporalmente deshabilitado)</li> </ul>","format":"int32"}}},"examples":{"Chile and Peru Direct Banks":{"value":{"currency":"CLP","country":"CL","amount":1000,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"PagaConTuBanco","bankCode":"CL_490","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Brazil PIX":{"value":{"currency":"BRL","country":"BR","amount":1000,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"pix_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters","typePixPayment":1,"isIframePay":"true"}},"Brazil PIX+":{"value":{"currency":"BRL","country":"BR","amount":1000,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"belvo_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Ecuador Cash (Bemovil)":{"value":{"currency":"USD","country":"EC","amount":10,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"bemovil_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Ecuador Wallet (Payphone)":{"value":{"currency":"USD","country":"EC","amount":10,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"payphone_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Peru Card":{"value":{"currency":"PEN","country":"PE","amount":"10","clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"pe_card_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Peru QR (with customized form)":{"value":{"currency":"PEN","country":"PE","amount":100,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"pe_qr_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","theme":[{"bgColor":"transparent","mode":"dark"}],"sign":"Signature of the parameters"}},"Chile Pay With Your Bank":{"value":{"currency":"CLP","country":"CL","amount":1000,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"PagaConTuBanco","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Chile QR/Wallet (Mercado Pago)":{"value":{"currency":"CLP","country":"CL","amount":1000,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"mercadopagoqr_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Chile QR/Wallet (MACH)":{"value":{"currency":"CLP","country":"CL","amount":1000,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"mach_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Ecuador Pay With Your Bank":{"value":{"currency":"USD","country":"EC","amount":10,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"PagaConTuBanco","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Peru Cash":{"value":{"currency":"PEN","country":"PE","amount":"10","clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"pagoefectivo_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Peru Pay With Your Bank":{"value":{"currency":"PEN","country":"PE","amount":"10","clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocumentType":"DN","clientDocument":"12345678912","paymentMethod":"PagaConTuBanco","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Peru Wallet (Yape, with customized form)":{"value":{"currency":"PEN","country":"PE","amount":100,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"yape_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","theme":[{"bgColor":"transparent","mode":"light"}],"sign":"Signature of the parameters"}},"Ecuador Cash (Ponle Más)":{"value":{"currency":"USD","country":"EC","amount":10,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"broadnet_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Ecuador Cash (Red Activa/Western Union)":{"value":{"currency":"USD","country":"EC","amount":10,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"redactiva_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Chile Card (Webpay)":{"value":{"currency":"CLP","country":"CL","amount":1000,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"111111111-1","paymentMethod":"webpay_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}},"Ecuador Card (Payphone)":{"value":{"currency":"USD","country":"EC","amount":10,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"ec_card_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sing":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Direct Banks":{"value":"{\n    \"urlPay\"= [string] // Link to process the payment\n    \"uid\"= [string] // Payment identifier in the system\n    \"reference\"= [string] // Reference in our services\n}"},"Brazil Pix":{"value":"{\n    \"urlPay\"= [string] // Link to process the payment\n    \"uid\": [string] // Payment identifier in the system\n}"},"Brazil Pix+ v1":{"value":"{\n    \"urlPay\"= [string] // Link to process the payment\n    \"uid\": [string] // Payment identifier in the system\n}"},"Ecuador Payphone":{"value":"{\n    \"urlPay\"= [string] // Link to process the payment\n    \"uid\": [string] // Payment identifier in the system\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{ \n   \"uid\": \"Payment identifier in the system\",\n   \"status\": \"rejected\",\n   \"reference\": \"Reason for rejection\" \n}"}},"schema":{"type":"object","properties":{"uid":{"type":"string","example":"Payment identifier in the system"},"status":{"type":"string","example":"rejected"},"reference":{"type":"string","example":"Reason for rejection"}}}}}}},"deprecated":false}},"/payment/mall/new":{"post":{"summary":"Crear un nuevo pago - Chile Webpay Mall","description":"","operationId":"create-payment-chile-webpay-mall","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","country","amount","clientName","clientEmail","clientPhone","clientDocument","paymentMethod","urlConfirmation","urlFinal","urlRejected","order","transactions","sign"],"properties":{"currency":{"type":"string","description":"Código ISO de la moneda: <b>CLP/USD</b>."},"country":{"type":"string","description":"Código del país: <b>CL</b>."},"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"clientName":{"type":"string","description":"Nombre y apellido del cliente"},"clientEmail":{"type":"string","description":"Correo electrónico del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."},"clientPhone":{"type":"string","description":"Numero telefónico del cliente"},"clientDocument":{"type":"string","description":"Número del documento de identidad del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."},"paymentMethod":{"type":"string","description":"`webpay_mall_payment`"},"urlConfirmation":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"urlFinal":{"type":"string","description":"URL de redirección después de que el pago sea completado"},"urlRejected":{"type":"string","description":"URL de redirección en caso de que la transacción sea rechazada"},"order":{"type":"string","description":"Identificador del pago a asociar. Debe ser único y no repetitivo"},"transactions":{"type":"array","description":"Es el lote de transacciones que se procesarán. Deben contar con el monto y un order id único. <br> Ejemplo: <br> <br> <b>\"transactions\": [<br>       {<br>         \"amount\": 60000,<br>         \"order_id\": \"order_12345\"<br>       },<br>       {<br>         \"amount\": 55000,<br>         \"order_id\": \"order_1234\"<br>       }<br>     ],<br></b>","items":{"type":"string"}},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Chile Webpay":{"value":{"currency":"CLP","country":"CL","clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"9999999999","clientDocument":"111111111-1","paymentMethod":"webpay_mall_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","transactions":[{"amount":60000,"order_id":"order_12345"},{"amount":25000,"order_id":"order_12346"},{"amount":55000,"order_id":"order_12347"}],"sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"urlPay\"= [string] //  Link to process the payment\n    \"uid\"= [string] // Payment identifier in the system\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"msg\"= \"Commerce code not be null\",\n    \"error\"= \"CommerceCode field\"\n}"}}}}}},"deprecated":false}},"/payment/v2/new":{"post":{"summary":"Crear un nuevo pago - Brasil Pix+ v2","description":"","operationId":"create-payment-brazil-pixplusv2","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","country","amount","clientName","clientEmail","clientPhone","clientDocument","paymentMethod","urlConfirmation","urlFinal","urlRejected","order","sign"],"properties":{"currency":{"type":"string","description":"Código ISO de la moneda: <b>BRL/USD</b>."},"country":{"type":"string","description":"Código del país: <b>BR</b>."},"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"clientName":{"type":"string","description":"Nombre y apellido del cliente"},"clientEmail":{"type":"string","description":"Correo electrónico del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."},"clientPhone":{"type":"string","description":"Numero telefónico del cliente"},"clientDocument":{"type":"string","description":"Número del documento de identidad del cliente. <br> ⚠️Requerido para comercios nuevos a partir del 1 de marzo de 2025."},"paymentMethod":{"type":"string","description":"`belvo_payment`"},"urlConfirmation":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"urlFinal":{"type":"string","description":"URL de redirección después de que el pago sea completado"},"urlRejected":{"type":"string","description":"URL de redirección en caso de que la transacción sea rechazada"},"order":{"type":"string","description":"Identificador del pago a asociar. Debe ser único y no repetitivo"},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"PIX+ v2":{"value":{"currency":"BRL","country":"BR","amount":1000,"clientName":"John Doe","clientEmail":"johndoe@example.com","clientPhone":"999999999","clientDocument":"12345678912","paymentMethod":"belvo_payment","urlConfirmation":"Webhook","urlFinal":"example.com/successful","urlRejected":"example.com/declined","order":"1234","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"institutions\"= [Array Data] // List of banking institutions\n  \"uid\"= [String] // Payment identifier in the system\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"msg\"= \"Commerce code not be null\",\n    \"error\"= \"CommerceCode field\"\n}"}}}}}},"deprecated":false}},"/payment/v2/start":{"post":{"summary":"Selección de institución de pago Brasil Pix+ v2","description":"","operationId":"institution-brazil-pixplus-v2","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["id_institution","uid"],"properties":{"id_institution":{"type":"string","description":"ID de la institución bancaria seleccionada​"},"uid":{"type":"string","description":"uid del pago"}}},"examples":{"Brazil Institution":{"value":{"id_institution":"string","uid":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"url_bank_payment\"= [string] // URL banking institution\n  \"uid\"= [String] // Payment identifier in the system\n}"}}}}}},"deprecated":false}},"/payment/yape/{uid}/process":{"post":{"summary":"Procesa un pago - Perú Botón Yape (sin iFrame)","description":"","operationId":"create-payment-peru-yape-api","parameters":[{"name":"uid","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["phoneNumber","otp"],"properties":{"phoneNumber":{"type":"string","description":"Número de teléfono del cliente"},"otp":{"type":"integer","description":"Código de validación OTP","format":"int32"}}},"examples":{"Peru Yape (without iFrame)":{"value":{"phoneNumber":"999999999","otp":123456}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Successful":{"value":"{\n    \"uid\": \"Payment identifier in the system\",\n    \"status\": \"Status of the payment\",\n    \"actionType\": \"API\"\n}"},"Rejected-Third OTP attempt failed":{"value":"{\n    \"uid\": \"Payment identifier in the system\",\n    \"status\": \"rejected\",\n    \"errorTitle\": \"Title of the rejection\",\n    \"errorMessage\": \"Description of the rejection\"\n}"}},"schema":{"oneOf":[{"title":"Successful","type":"object","properties":{"uid":{"type":"string","example":"Payment identifier in the system"},"status":{"type":"string","example":"Status of the payment"},"actionType":{"type":"string","example":"API"}}},{"title":"Rejected-Third OTP attempt failed","type":"object","properties":{"uid":{"type":"string","example":"Payment identifier in the system"},"status":{"type":"string","example":"rejected"},"errorTitle":{"type":"string","example":"Title of the rejection"},"errorMessage":{"type":"string","example":"Description of the rejection"}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Rejected":{"value":"{\n  \"status\": \"false\",\n  \"errorTitle\": \"Title of the rejection\",\n  \"errorMessage\": \"Description of the rejection\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"false"},"errorTitle":{"type":"string","example":"Title of the rejection"},"errorMessage":{"type":"string","example":"Description of the rejection"}}}}}}},"deprecated":false}},"/payment/data/{uid}":{"get":{"summary":"Detalles de un pago (UID)","description":"","operationId":"payment-details-uid","parameters":[{"name":"uid","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{ \n  \"uid\": [string] // Transaction Identifier \n  \"status\": [string] // Transaction status \n  \"amount\": [integer] // Transaction amount \n  \"method\": [string] // Payment method used \n  \"reference\": [string] // Reference of the transaction \n  \"clientEmail\": [string] // Client's email address \n  \"clientDocument\": [string] // Customer's ID number \n  \"order\": [string] // Payment identifier to be associated with \n  \"currency\": [string] // ISO currency code \n  \"country\": [string] // International Country Format \n  \"method_type\": [string] // Method type \n  \"method_detail\": [string] // Method details \n  \"hash\": [string] // Security hash parameter \n  \"sign\": [string] // Signature of the parameters\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{ \n \"error\": [string] // “Payment not found”\n}\n"}}}}}},"deprecated":false}},"/payment/order/{order}":{"get":{"summary":"Detalles de un pago (order)","description":"","operationId":"payment-details-order","parameters":[{"name":"order","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{ \n  \"uid\": [string] // Transaction Identifier \n  \"status\": [string] // Transaction status \n  \"amount\": [integer] // Transaction amount \n  \"method\": [string] // Payment method used \n  \"reference\": [string] // Reference of the transaction \n  \"clientEmail\": [string] // Client's email address \n  \"clientDocument\": [string] // Customer's ID number \n  \"order\": [string] // Payment identifier number \n  \"currency\": [string] // ISO currency code \n  \"country\": [string] // International Country Format \n  \"method_type\": [string] // Method type \n  \"method_detail\": [string] // Method details \n  \"hash\": [string] // Security hash parameter \n  \"sign\": [string] // Signature of the parameters\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{ \n \"error\": [string] // “Payment not found”\n}\n"}}}}}},"deprecated":false}},"/reverse/new":{"post":{"summary":"Reembolso de un pago","description":"","operationId":"refunds","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["reference","clientDocument","amount","sign","urlCallbackRefund"],"properties":{"reference":{"type":"string","description":"Número de referencia de la transacción​"},"clientDocument":{"type":"string","description":"Número del documento de identidad del cliente"},"amount":{"type":"integer","description":"Monto de la transacción​​","format":"int32"},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."},"urlCallbackRefund":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."}}},"examples":{"Refund":{"value":{"reference":"1111111111","clientDocument":"12345678912","amount":300,"sign":"Signature of the parameters","urlCallbackRefund":"Webhook"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\"= [string] // Success\n}"}}}}}},"deprecated":false}},"/withdrawal/new":{"post":{"summary":"Crear un nuevo retiro - Chile, Ecuador y Perú","description":"","operationId":"payout","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","accountNumber","accountType","bankCode","data","confirmationURL","currency","country","sign"],"properties":{"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"document_id":{"type":"string","description":"Número del documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario."},"accountNumber":{"type":"string","description":"Número de cuenta bancaria"},"accountType":{"type":"string","description":"Tipo de cuenta bancaria.<br>   <ul>   <li>En <b>Chile</b> pueden ser: <b>C/S/V</b>.</li>  <li>En <b>Ecuador</b> pueden ser: <b>AHO/CTE</b>.</li>   <li>En <b>Perú</b> pueden ser: <b>A/C</b>.</li>  </ul>"},"accountType_id":{"type":"string","description":"⚠️Requerido para <b>Ecuador</b>. <br>  <br> <b>R:</b> RUC <br>  <b>C:</b> Cédula/DNI <br>  <b>P:</b> Pasaporte"},"accountInterbank":{"type":"string","description":"⚠️Requerido para <b>Perú.</b>  <br>Número de cuenta para otros bancos (Cuenta Interbancaria)<br><br> <b>Consideraciones:</b> <ul>   <li> Los tres primeros dígitos corresponden al `bankCode`. Ejemplo: `011`</li> <li>El número enviado debe tener una longitud total de 20 dígitos. Ejemplo: `”01150004004006000900”` <br></li>  </ul>"},"documentType":{"type":"string","description":"⚠️Requerido para <b>Perú</b>. <br> Es el tipo de documento de identidad. El código puede ser: <br><br> <b>DN:</b> DNI <br> <b>CE:</b> Carné de extranjería<br>   <b>PP:</b> Pasaporte <br>  <b>RC:</b> RUC"},"bankCode":{"type":"string","description":"Código bancario. Conoce la <b>lista completa de códigos bancarios</b> por país en <a href=\"https://docs.prontopaga.com/docs/bank-codes-transfer\">este artículo</a>."},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>CLP/USD/PEN</b>."},"country":{"type":"string","description":"Código del país: <b>CL/EC/PE</b>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Peru InstantPayout":{"value":{"amount":"10.00","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountNumber":"10070010030000","accountType":"C","bankCode":"011","data":"1234","confirmationURL":"Webhook","currency":"PEN","country":"PE","accountInterbank":"01150004004006000900","sign":"Signature of the parameters"}},"Chile Transfer":{"value":{"amount":"2000","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountNumber":"10070010030000","accountType":"C","bankCode":"1","data":"1234","confirmationURL":"Webhook","currency":"CLP","country":"CL","sign":"Signature of the parameters"}},"Ecuador Transfer":{"value":{"amount":"200","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountNumber":"10070010030000","accountType":"AHO","accountType_id":"P","bankCode":"10","data":"1234","confirmationURL":"Webhook","currency":"USD","country":"EC","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Chile and Ecuador Transfer":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"},"Peru InstantPayout":{"value":"{\n    \"uid\": \"Payout identifier in the system\",\n    \"status\": \"new\",\n    \"data\": \"1234\",\n    \"reference\": 3456789012\n}"}},"schema":{"type":"object","properties":{"uid":{"type":"string","example":"Payout identifier in the system"},"status":{"type":"string","example":"new"},"data":{"type":"string","example":"1234"},"reference":{"type":"integer","example":3456789012,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Peru InstantPayout":{"value":"{\n\"accountInterbank\": \"string accountInterbank, cannot be null\"\n}"}},"schema":{"type":"object","properties":{"accountInterbank":{"type":"string","example":"string accountInterbank, cannot be null"}}}}}}},"deprecated":false}},"/withdrawal/pix/new":{"post":{"summary":"Crear un nuevo retiro - Brasil PIX","description":"","operationId":"payout-brazil-pix","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","accountType","bankCode","data","confirmationURL","currency","country","sign","pagamentoType","type","accountNumber"],"properties":{"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"document_id":{"type":"string","description":"Documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario."},"accountType":{"type":"string","description":"Tipo de cuenta bancaria. <br> Puede ser: <b>1/2/3/4</b>."},"bankCode":{"type":"string","description":"Código bancario"},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>BRL/USD</b>."},"country":{"type":"string","description":"Código del país: <b>BR</b>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."},"pagamentoType":{"type":"integer","description":"Este es el campo diferenciador al solicitar un retiro PIX.  <br>   <ul>  <li>El valor `1` corresponde a un retiro con una cuenta bancaria.</li> <li>El valor `2` es un retiro con una clave PIX.</li> </ul>","format":"int32"},"type":{"type":"string","description":"Este campo diferencia qué tipo de PIX se utilizará al generar el retiro, y se debe distinguir por: `document_id` (CPF), `beneficiaryEmail` o `beneficiaryPhone`."},"accountNumber":{"type":"string","description":"Número de cuenta bancaria <b>(Solo tipo de pago 1)</b>"},"agency":{"type":"string","description":"Sucursal bancaria brasileña donde se realizará el retiro para el tipo de pago 2, retiro a cuenta bancaria <b>(Solo tipo de pago 1)</b>"},"ispb":{"type":"string","description":"La ispb participante de la institución financiera asociada al contacto. <b>(Solo tipo de pago 1)</b>"}}},"examples":{"Brazil PIX":{"value":{"amount":100,"document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountType":"1","bankCode":"633","data":"1234","confirmationURL":"Webhook","currency":"BRL","country":"BR","sign":"Signature of the parameters","pagamentoType":1,"type":"beneficiaryPhone","accountNumber":"11111111","agency":"string","ispb":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"}}}}}},"deprecated":false}},"/withdrawal/wallet/new":{"post":{"summary":"Crear un nuevo retiro a wallet - Perú","description":"","operationId":"instant-payout-peru-wallet","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","documentType","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","data","confirmationURL","currency","country","wallet","sign"],"properties":{"amount":{"type":"string","description":"Monto de la transacción"},"documentType":{"type":"string","description":"Es el tipo de documento de identidad. El código puede ser: <br><br> <b>DN:</b> DNI <br> <b>CE:</b> Carné de extranjería<br>   <b>PP:</b> Pasaporte <br>  <b>RC:</b> RUC"},"document_id":{"type":"string","description":"Número del documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono celular del beneficiario"},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>PEN/USD</b>."},"country":{"type":"string","description":"Código del país: <b>PE</b>."},"wallet":{"type":"string","description":"En la tabla de arriba puedes ver todos los valores posibles para este campo. <br> <br> ⚠️ Para conocer el listado de wallets disponibles para un número telefónico en <b>Perú</b>, debe consultarse primero el endpoint de <a href=\"https://docs.prontopaga.com/reference/wallets-list\">Lista de wallets</a>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Peru Wallet":{"value":{"amount":"2.00","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","data":"1234","confirmationURL":"Webhook","currency":"PEN","country":"PE","wallet":"luqea","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\": \"01J4PG5MET5CV6BCAAA8HRFC00\",\n    \"status\": \"success\",\n    \"message\": \"WALLET | LUQEA\",\n    \"data\": \"1234\",\n    \"reference\": 8290123,\n    \"success\": 1\n}"}},"schema":{"type":"object","properties":{"uid":{"type":"string","example":"01J4PG5MET5CV6BCAAA8HRFC00"},"status":{"type":"string","example":"success"},"message":{"type":"string","example":"WALLET | LUQEA"},"data":{"type":"string","example":"1234"},"reference":{"type":"integer","example":8290123,"default":0},"success":{"type":"integer","example":1,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\": \"01J4PG5MET5CV6BAAAA8HRF000\",\n    \"status\": \"canceled\",\n    \"message\": \"Error interno, validaciones fallidas\",\n    \"data\": \"1234\",\n    \"reference\": 829000,\n    \"success\": 0\n}"}},"schema":{"type":"object","properties":{"uid":{"type":"string","example":"01J4PG5MET5CV6BAAAA8HRF000"},"status":{"type":"string","example":"canceled"},"message":{"type":"string","example":"Error interno, validaciones fallidas"},"data":{"type":"string","example":"1234"},"reference":{"type":"integer","example":829000,"default":0},"success":{"type":"integer","example":0,"default":0}}}}}}},"deprecated":false}},"/withdrawal/payphone/new":{"post":{"summary":"Crear un nuevo retiro - Ecuador Payphone","description":"","operationId":"payout-ecuador-payphone","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","accountType","data","confirmationURL","currency","country","sign"],"properties":{"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"document_id":{"type":"string","description":"Documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario y cuenta dónde se transferirá el dinero.<br>  Ejemplo de número: `5930958602222`"},"accountType":{"type":"string","description":"El tipo de cuenta es `C` para clientes Payphone"},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>USD</b>."},"country":{"type":"string","description":"Código del país: <b>EC</b>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Ecuador Payphone":{"value":{"amount":"100.00","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountType":"C","data":"1234","confirmationURL":"Webhook","currency":"USD","country":"EC","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"}}}}}},"deprecated":false}},"/withdrawal/bemovil/new":{"post":{"summary":"Crear un nuevo retiro - Ecuador Bemovil","description":"","operationId":"payout-ecuador-bemovil","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","data","confirmationURL","currency","country","sign"],"properties":{"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"document_id":{"type":"string","description":"Documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario y cuenta dónde se transferirá el dinero.<br>  Ejemplo de número: `5930958602222`"},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>USD</b>."},"country":{"type":"string","description":"Código del país: <b>EC</b>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Ecuador Bemovil":{"value":{"amount":200,"document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","data":"1234","confirmationURL":"Webhook","currency":"USD","country":"EC","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"}}}}}},"deprecated":false}},"/withdrawal/broadnet/new":{"post":{"summary":"Crear un nuevo retiro - Ecuador Ponle más","description":"","operationId":"payout-ecuador-ponle-mas","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","data","confirmationURL","currency","country","sign"],"properties":{"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"document_id":{"type":"string","description":"Documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario y cuenta dónde se transferirá el dinero.<br>  Ejemplo de número: `5930958602222`"},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>USD</b>."},"country":{"type":"string","description":"Código del país: <b>EC</b>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Ecuador Ponle Más":{"value":{"amount":200,"document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","data":"1234","confirmationURL":"Webhook","currency":"USD","country":"EC","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"}}}}}},"deprecated":false}},"/withdrawal/redactiva/new":{"post":{"summary":"Crear un nuevo retiro - Ecuador Red Activa/Western Union","description":"","operationId":"payout-ecuador-redactiva","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","data","confirmationURL","currency","country","sign"],"properties":{"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"document_id":{"type":"string","description":"Documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario y cuenta dónde se transferirá el dinero.<br>  Ejemplo de número: `5930958602222`"},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>USD</b>."},"country":{"type":"string","description":"Código del país: <b>EC</b>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Ecuador Red Activa/Western Union":{"value":{"amount":200,"document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","data":"1234","confirmationURL":"Webhook","currency":"USD","country":"EC","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"}}}}}},"deprecated":false}},"/withdrawal/data/{uid}":{"get":{"summary":"Detalles de un retiro","description":"","operationId":"payout-details","parameters":[{"name":"uid","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" : [string] // Payout identifier in the system\n    \"status\" : [tring] // Payout status\n    \"amount\" : [integer] // Transaction amount\n    \"data\" : [string] // Additional transaction data\n    \"currency\" : [string] // ISO currency code\n    \"country\" : [string] // International country code\n    \"sing\" : [string] // Signature of the parameters\n}"}}}}}},"deprecated":false}},"/withdrawal/new/bank":{"post":{"summary":"Crear un nuevo retiro por transferencia bancaria - Chile, Ecuador y Perú","description":"","operationId":"bank-transfer-payout","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","accountNumber","accountType","bankCode","data","confirmationURL","currency","country","sign"],"properties":{"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"document_id":{"type":"string","description":"Número del documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario."},"accountNumber":{"type":"string","description":"Número de cuenta bancaria"},"accountType":{"type":"string","description":"Tipo de cuenta bancaria.<br>   <ul>   <li>En <b>Chile</b> pueden ser: <b>C/S/V</b>.</li>  <li>En <b>Ecuador</b> pueden ser: <b>AHO/CTE</b>.</li>   <li>En <b>Perú</b> pueden ser: <b>A/C</b>.</li>  </ul>"},"accountType_id":{"type":"string","description":"⚠️Requerido para <b>Ecuador</b>. <br>  <br> <b>R:</b> RUC <br>  <b>C:</b> Cédula/DNI <br>  <b>P:</b> Pasaporte"},"accountInterbank":{"type":"string","description":"⚠️Requerido para <b>Perú.</b>  <br>Número de cuenta para otros bancos (Cuenta Interbancaria)<br><br> <b>Consideraciones:</b> <ul>   <li> Los tres primeros dígitos corresponden al `bankCode`. Ejemplo: `011`</li> <li>El número enviado debe tener una longitud total de 20 dígitos. Ejemplo: `”01150004004006000900”` <br></li>  </ul>"},"documentType":{"type":"string","description":"⚠️Requerido para <b>Perú</b>. <br> Es el tipo de documento de identidad. El código puede ser: <br><br> <b>DN:</b> DNI <br> <b>CE:</b> Carné de extranjería<br>   <b>PP:</b> Pasaporte <br>  <b>RC:</b> RUC"},"bankCode":{"type":"string","description":"Código bancario. Conoce la <b>lista completa de códigos bancarios</b> por país en <a href=\"https://docs.prontopaga.com/docs/bank-codes-transfer\">este artículo</a>."},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>CLP/USD/PEN</b>."},"country":{"type":"string","description":"Código del país: <b>CL/EC/PE</b>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Peru InstantPayout":{"value":{"amount":"10.00","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountNumber":"10070010030000","accountType":"C","bankCode":"011","data":"1234","confirmationURL":"Webhook","currency":"PEN","country":"PE","accountInterbank":"01150004004006000900","sign":"Signature of the parameters"}},"Chile Transfer":{"value":{"amount":"2000","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountNumber":"10070010030000","accountType":"C","bankCode":"1","data":"1234","confirmationURL":"Webhook","currency":"CLP","country":"CL","sign":"Signature of the parameters"}},"Ecuador Transfer":{"value":{"amount":"200","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountNumber":"10070010030000","accountType":"AHO","accountType_id":"P","bankCode":"10","data":"1234","confirmationURL":"Webhook","currency":"USD","country":"EC","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Chile and Ecuador Transfer":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"},"Peru InstantPayout":{"value":"{\n    \"uid\": \"01J59EC1DMW5HV8F93AAAA000\",\n    \"status\": \"new\",\n    \"data\": \"1234\",\n    \"reference\": \"9898000\"\n}"}},"schema":{"type":"object","properties":{"uid":{"type":"string","example":"01J59EC1DMW5HV8F93AAAA000"},"status":{"type":"string","example":"new"},"data":{"type":"string","example":"1234"},"reference":{"type":"string","example":"9898000"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Peru InstantPayout":{"value":"{\n\"accountInterbank\": \"string accountInterbank, cannot be null\"\n}"}},"schema":{"type":"object","properties":{"accountInterbank":{"type":"string","example":"string accountInterbank, cannot be null"}}}}}}},"deprecated":false}},"/withdrawal/new/pix":{"post":{"summary":"Crear un nuevo retiro por PIX - Brasil","description":"","operationId":"pix-payout","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","accountType","bankCode","data","confirmationURL","currency","country","sign","pagamentoType","type","accountNumber"],"properties":{"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"document_id":{"type":"string","description":"Número del documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario."},"accountType":{"type":"string","description":"Tipo de cuenta bancaria. <br> Puede ser: <b>1/2/3/4</b>."},"bankCode":{"type":"string","description":"Código bancario"},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>BRL/USD</b>."},"country":{"type":"string","description":"Código del país: <b>BR</b>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."},"pagamentoType":{"type":"integer","description":"Este es el campo diferenciador al solicitar un retiro PIX.  <br>   <ul>  <li>El valor `1` corresponde a un retiro con una cuenta bancaria.</li> <li>El valor `2` es un retiro con una clave PIX.</li> </ul>","format":"int32"},"type":{"type":"string","description":"Este campo diferencia qué tipo de PIX se utilizará al generar el retiro, y se debe distinguir por: `document_id` (CPF), `beneficiaryEmail` o `beneficiaryPhone`."},"accountNumber":{"type":"string","description":"Número de cuenta bancaria <b>(Solo tipo de pago 1)</b>"},"agency":{"type":"string","description":"Sucursal bancaria brasileña donde se realizará el retiro para el tipo de pago 2, retiro a cuenta bancaria <b>(Solo tipo de pago 1)</b>"},"ispb":{"type":"string","description":"La ispb participante de la institución financiera asociada al contacto. <b>(Solo tipo de pago 1)</b>"}}},"examples":{"Brazil PIX":{"value":{"amount":100,"document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","accountType":"1","bankCode":"633","data":"1234","confirmationURL":"Webhook","currency":"BRL","country":"BR","sign":"Signature of the parameters","pagamentoType":1,"type":"beneficiaryPhone","accountNumber":"11111111","agency":"string","ispb":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"}}}}}},"deprecated":false}},"/withdrawal/new/wallet":{"post":{"summary":"Crear un nuevo retiro a wallet - Ecuador y Perú","description":"","operationId":"wallet-payout","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","document_id","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","data","confirmationURL","currency","country","wallet","sign"],"properties":{"amount":{"type":"string","description":"Monto de la transacción"},"document_id":{"type":"string","description":"Número del documento de identidad del beneficiario"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono celular del beneficiario"},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"currency":{"type":"string","description":"Código ISO de la moneda: <b>USD/PEN</b>."},"country":{"type":"string","description":"Código del país: <b>EC/PE</b>."},"wallet":{"type":"string","description":"En las tablas de arriba puedes ver todos los valores posibles para este campo. <br> <br> ⚠️ Para conocer el listado de wallets disponibles para un número telefónico en <b>Perú</b>, debe consultarse primero el endpoint de <a href=\"https://docs.prontopaga.com/reference/wallets-list\">Lista de wallets</a>."},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Peru Luqea":{"value":{"amount":"2.00","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","data":"1234","confirmationURL":"Webhook","currency":"PEN","country":"PE","wallet":"luqea","sign":"Signature of the parameters"}},"Ecuador Payphone":{"value":{"amount":"100.00","document_id":"12345678912","beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","data":"1234","confirmationURL":"Webhook","currency":"USD","country":"EC","wallet":"payphone","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"uid\": \"01J4PG5MET5CV6AAAAB8HRF000\",\n  \"status\": \"new\",\n  \"data\": \"1234\",\n  \"reference\": \"8290000\",\n  \"plin\": true\n}"}},"schema":{"type":"object","properties":{"uid":{"type":"string","example":"01J4PG5MET5CV6AAAAB8HRF000"},"status":{"type":"string","example":"new"},"data":{"type":"string","example":"1234"},"reference":{"type":"string","example":"8290000"},"plin":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":" {\n    \"beneficiaryPhone\":  \"(string) beneficiaryPhone, cannot be null.\"\n }"}},"schema":{"type":"object","properties":{"beneficiaryPhone":{"type":"string","example":"(string) beneficiaryPhone, cannot be null."}}}}}}},"deprecated":false}},"/withdrawal/new/cash":{"post":{"summary":"Crear un nuevo retiro en efectivo - Ecuador","description":"","operationId":"cash-payout","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["document_id","amount","beneficiaryName","beneficiaryLastName","beneficiaryEmail","beneficiaryPhone","confirmationURL","data","currency","country","platform","sign"],"properties":{"document_id":{"type":"string","description":"Número del documento de identidad del beneficiario"},"amount":{"type":"integer","description":"Monto de la transacción","format":"int32"},"beneficiaryName":{"type":"string","description":"Primer nombre del beneficiario"},"beneficiaryLastName":{"type":"string","description":"Apellido del beneficiario"},"beneficiaryEmail":{"type":"string","description":"Correo electrónico del beneficiario"},"beneficiaryPhone":{"type":"string","description":"Número de teléfono del beneficiario y cuenta dónde se transferirá el dinero.<br>  Ejemplo de número: `5930958602222`"},"confirmationURL":{"type":"string","description":"Webhook. Conoce más información en <a href=\"https://docs.prontopaga.com/docs/webhooks\">este artículo</a>."},"data":{"type":"string","description":"Identificador del Retiro a asociar. Debe ser único e irrepetible"},"currency":{"type":"string","description":"Código ISO de la moneda: <b>USD</b>."},"country":{"type":"string","description":"Código del país: <b>EC</b>."},"platform":{"type":"string","description":"Valores posibles: `broadnet`, `bemovil` o `redactiva`"},"sign":{"type":"string","description":"La firma de los parámetros es única para cada transacción. Conoce cómo firmar en <a href=\"https://docs.prontopaga.com/docs/sign-transactions\">este artículo</a>."}}},"examples":{"Ecuador Bemovil":{"value":{"document_id":"12345678912","amount":200,"beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","confirmationURL":"Webhook","data":"1234","currency":"USD","country":"EC","platform":"bemovil","sign":"Signature of the parameters"}},"Ecuador Ponle Más":{"value":{"document_id":"12345678912","amount":200,"beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","confirmationURL":"Webhook","data":"1234","currency":"USD","country":"EC","platform":"broadnet","sign":"Signature of the parameters"}},"Ecuador Red Activa/Western Union":{"value":{"document_id":"12345678912","amount":200,"beneficiaryName":"John","beneficiaryLastName":"Doe","beneficiaryEmail":"johndoe@example.com","beneficiaryPhone":"999999999","confirmationURL":"Webhook","data":"1234","currency":"USD","country":"EC","platform":"redactiva","sign":"Signature of the parameters"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" = [string] // Payout identifier in the system\n    \"status\" = [string] // Payout status\n    \"data\" = [string] // Additional transaction data\n}"}}}}}},"deprecated":false}},"/withdrawal/data/{uid} (COPY)":{"get":{"summary":"Detalles de un retiro / cambiar URL get o dejar el otro","description":"","operationId":"details-payout","parameters":[{"name":"uid","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"uid\" : [string] // Payout identifier in the system\n    \"status\" : [tring] // Payout status\n    \"amount\" : [integer] // Transaction amount\n    \"data\" : [string] // Additional transaction data\n    \"currency\" : [string] // ISO currency code\n    \"country\" : [string] // International country code\n    \"sing\" : [string] // Signature of the parameters\n}"}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}